[*]
indent_size = 2
indent_style = space
charset = utf-8

[*.cs]
csharp_indent_switch_labels = false
csharp_new_line_before_open_brace = none
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
insert_final_newline = true
